body {
    background: rgb(241, 238, 238);
    color: rgb(247, 242, 242);
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}

.author {
    font-style: italic;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(10, 10, 10);
    padding: 50px;
}